@import url("https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap");

* {
  box-sizing: border-box;

  /* border: 0.5px solid red; */
}

:root {
  --h3-font-size: clamp(1.3rem, 2vw, 2.5rem);
  --backdrop-color: #0ea5e9;
  --button-color: #cbd5e1;
  --button-hover-color: #7dd3fc;
  --side-panel-border: 2px solid black;
  --gameboard-color: #cbd5e1;
  --gameboard-hover-color: #d4d4d8;
  --gameboard-backdrop-color: black;
  --footer-color: #cbd5e1;
  --fade-delay: 300ms;
  --notification-delay: 200ms;
  --fade-transition: opacity var(--fade-delay) ease-out;
  --notification-transition: opacity var(--notification-delay) ease-out;
  --gameboard-transition: opacity 800ms ease-out;
}

body {
  font-family: Quicksand, sans-serif;
  background-color: var(--backdrop-color);
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 2fr 7fr 1fr;
  grid-template-columns: 1fr;
  margin: 0;
}

/* HEADER {{{ */
header {
  grid-row: 1 / 2;
}

header h1.title {
  font-family: Sixtyfour, sans-serif;
  font-size: clamp(2.8rem, 5vw, 3.5rem);
  text-align: center;
}

/* }}} */

/* MAIN {{{ */
main {
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  overflow: hidden;
  margin-bottom: 8vh;
}

/* }}} */

/* LEFT PANEL {{{ */
section.left {
  grid-column: 1 / 2;
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 1fr;
}

section.left div.scoreboard-box {
  grid-row: 1 / 2;
  padding: 0 5%;
  opacity: 0;
  transition: var(--fade-transition);
}

section.left div.scoreboard-box.live {
  opacity: 1;
}

section.left div.scoreboard-box table.scoreboard {
  border: var(--side-panel-border);
  text-align: center;
  width: 100%;
}

section.left div.scoreboard-box table.scoreboard th.score-header {
  border: var(--side-panel-border);
  font-size: var(--h3-font-size);
  text-align: center;
  margin-bottom: 1rem;
}

section.left div.scoreboard-box table.scoreboard td.score {
  border: var(--side-panel-border);
  font-size: var(--h3-font-size);
  font-weight: 600;
  text-align: center;
}

section.left div.button-box {
  grid-row: 2 / 3;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

section.left div.button-box button {
  font-family: inherit;
  font-size: clamp(1rem, 1.8vw, 2.5rem);
  background-color: var(--button-color);
  border-radius: 12px;
  border: none;
  box-shadow:
    inset 2px 2px 3px #0c4a6e,
    inset -2px -2px 3px #f0f9ff;
  width: clamp(4rem, 8vw, 9rem);
  height: clamp(3rem, 9vh, 7rem);
  transition: transform 300ms;
}

section.left div.button-box button:hover {
  transform: scale(1.1);
  background-color: var(--button-hover-color);
}

section.left div.button-box button:active {
  box-shadow:
    inset -2px -2px 3px #0c4a6e,
    inset 2px 2px 3px #f0f9ff;
}

/* }}} */

/* RIGHT PANEL {{{ */
section.right {
  grid-column: 3 / 4;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  /* height: 100%; */
  padding: 0% 5%;

  /* Transition effect  */
  opacity: 0;
  transition: var(--fade-transition);
}

section.right.live {
  opacity: 1;
}

section.right h3 {
  font-size: var(--h3-font-size);
  margin: 0;
}

section.right div.notification-box,
section.right div.gamelog-title-box {
  border: var(--side-panel-border);
  padding-left: 2%;
}

section.right h3.notification {
  opacity: 0;
  transition: var(--notification-transition);
}

section.right h3.notification.transition {
  opacity: 1;
}

section.right div.gamelog-title-box {
  margin-top: auto;
}

section.right div.gamelog {
  border: var(--side-panel-border);
  font-size: clamp(1.1rem, 1.4vw, 1.5rem);
  height: 40%;
  overflow-y: scroll;
  margin: 0;
}

section.right div.gamelog p {
  margin: 3%;
  padding-bottom: 2%;
  border-bottom: 1px solid grey;
}

section.right div.gamelog p.important {
  font-weight: 600;
}

section.right div.gamelog div#anchor {
  height: 1px;
}

/* }}} */

/* GAMEBOARD {{{ */
section.gameboard {
  background-color: var(--gameboard-backdrop-color);
  border: 1vw solid var(--gameboard-backdrop-color);
  grid-column: 2 / 3;
  display: grid;
  gap: 1vw;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  margin: 0 2vw;
}

section.gameboard button {
  background-color: var(--gameboard-color);
}

section.gameboard button:hover {
  background-color: var(--gameboard-hover-color);
}

section.gameboard button span {
  font-size: clamp(2rem, 8vw, 5.5rem);
  opacity: 0;
  transition: var(--gameboard-transition);
}

section.gameboard button span.live {
  opacity: 1;
}

section.gameboard button span.win {
  color: #ef4444;
}

/* }}} */

/* FOOTER {{{ */

footer {
  grid-row: 3 / 4;

  /* grid-column: 1 / 4; */
  background-color: var(--footer-color);
  display: flex;
  gap: 1vw;
  align-items: center;
  justify-content: center;
}

footer p {
  font-size: clamp(0.8rem, 1.3vw, 2rem);
}

footer img {
  width: clamp(1rem, 1.3vw, 4rem);
  transition: transform 300ms;
}

footer img:hover {
  transform: rotate(360deg) scale(1.2, 1.2);
}

/* }}} */
