@import url("https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap");

* {
  box-sizing: border-box;
  /* border: 0.5px solid red; */
}

:root {
  --backdrop-color: #0ea5e9;
  --button-color: #bae6fd;
  --button-hover-color: #7dd3fc;
  --button-disabled-color: #cbd5e1;
  --side-panel-outline: 2px solid black;
  --gameboard-color: #cbd5e1;
  --gameboard-hover-color: #d4d4d8;
  --gameboard-backdrop-color: black;
  --fade-delay: 300ms;
  --notification-delay: 200ms;
  --fade-transition: opacity var(--fade-delay) ease-out;
  --notification-transition: opacity var(--notification-delay) ease-out;
  --gameboard-transition: opacity 800ms ease-out;
}

body {
  font-family: Quicksand, sans-serif;
  background-color: var(--backdrop-color);
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 1fr 5fr 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  overflow: hidden;
  margin: 0;
}

/* HEADER {{{ */
h1.title {
  font-family: Sixtyfour, sans-serif;
  font-size: clamp(2.5rem, 5vw, 3.5rem);
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  text-align: center;
}

/* }}} */

/* LEFT PANEL {{{ */
div.left {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 1fr;
}

div.left div.scoreboard-box {
  grid-row: 1 / 2;
  opacity: 0;
  transition: var(--fade-transition);
}

div.left div.scoreboard-box.live {
  opacity: 1;
}

div.left div.button-box {
  grid-row: 2 / 3;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

div.left div.button-box button {
  font-family: inherit;
  font-size: clamp(1.4rem, 1.8vw, 2.5rem);
  background-color: var(--button-color);
  border-radius: 12px;
  border: none;
  box-shadow:
    inset 2px 2px 3px #0c4a6e,
    inset -2px -2px 3px #f0f9ff;
  width: clamp(6rem, 8vw, 8rem);
  height: clamp(4rem, 9vh, 5rem);
}

div.left div.button-box button:hover {
  background-color: var(--button-hover-color);
}

div.left div.button-box button:active {
  box-shadow:
    inset -2px -2px 3px #0c4a6e,
    inset 2px 2px 3px #f0f9ff;
  /* background-color: #38bdf8; */
}


div.left div.button-box button:disabled {
  background-color: var(--button-disabled-color);
}

/* }}} */

/* RIGHT PANEL {{{ */
div.right {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 2% 5%;

/* Transition effect  */
  opacity: 0;
  transition: var(--fade-transition);
}

div.right.live {
  opacity: 1;
}

div.right h3 {
  font-size: clamp(1.3rem, 2.0vw, 2.5rem);
  margin: 0;
}

div.right div.notification-box,
div.right div.gamelog-title-box {
  outline: var(--side-panel-outline);
  padding-left: 2%;
}

div.right h3.notification {
  opacity: 0;
  transition: var(--notification-transition);
}

div.right h3.notification.transition {
  opacity: 1;
}

div.right div.gamelog-title-box {
  margin-top: auto;
}

div.right div.gamelog {
  outline: var(--side-panel-outline);
  font-size: clamp(1.1rem, 1.4vw, 1.5rem);
  height: 40%;
  overflow-y: scroll;
  margin: 0;
}

div.right div.gamelog p {
  margin: 3%;
  padding-bottom: 2%;
  border-bottom: 1px solid grey;
}

div.right div.gamelog p.important {
  font-weight: 600;
}

div.right div.gamelog div#anchor {
  height: 1px;
}

/* }}} */

/* GAMEBOARD {{{ */
div.gameboard {
  background-color: var(--gameboard-backdrop-color);
  border: 1vw solid var(--gameboard-backdrop-color);
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: grid;
  gap: 1vw;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

div.gameboard button {
  background-color: var(--gameboard-color);
}

div.gameboard button:hover {
  background-color: var(--gameboard-hover-color);
}

div.gameboard button span {
  font-size: clamp(2.5rem, 4vw, 3.5rem);
  opacity: 0;
  transition: var(--gameboard-transition);
}

div.gameboard button span.live {
  opacity: 1;
}

/* }}} */
